/* app css stylesheet */
.navbar-static-top {
  margin-bottom: 19px;
}

.thumbnail {
  border: none;
}

.downloadable-thumbnail {
  height: 320px;
}

.downloadable-thumbnail img {
  height: 280px;
}

.caption {
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

.thumbnail .buttons {
  display: none;
}

.thumbnail:hover .buttons {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
ul[dnd-list] .dndDraggingSource {
  display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
ul[dnd-list] .dndPlaceholder {
  display: block;
  background-color: #ddd;
  padding: 10px 15px;
  min-height: 42px;
}

ul[dnd-list] {
  padding: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
ul[dnd-list] li {
  display: block;
  cursor: move;
  /* Disable text selection if item is not draggable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}