/* app css stylesheet */
.navbar-static-top {
  margin-bottom: 19px;
}

.thumbnail {
  border: none;
}

.downloadable-thumbnail {
  height: 320px;
}

.downloadable-thumbnail img {
  height: 280px;
}

.caption {
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

.thumbnail .buttons {
  display: none;
}

.thumbnail:hover .buttons {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
