/books/
/bower_components/
/common/
/components/
/configuration/
/games/
/home/
/log/
/magazines/
/movies/
/music/
/tvshows/
/app.css
/app.js
/downloaded-movie-unknown.jpg
/downloaded-music-unknown-album-unknown-artist.jpg
/dynamo-icon-2x.png
/dynamo-icon-3x.png
/dynamo-icon-4x.png
/favicon.png
/imdb.png
/index-async.html
/index.html
/manifest.json
/services.js
