<form name="settingsForm" novalidate>
    <div class="well" ng-repeat="pluginOption in pluginOptions">
        <label>{{pluginOption.taskClass.label}}</label>
        <select class="form-control" ng-model="pluginOption.value" ng-change="pluginChanged()" ng-options="option.klass as option.label for option in pluginOption.executorOptions" />
        <configuration-item ng-repeat="item in pluginOption.itemsToConfigure" item="item" />
    </div>

    <button ng-disabled="!settingsForm.$valid" class="btn btn-primary" ng-click="saveSettings()"><span class="glyphicon glyphicon-save" /> Save</button>

</form>