<form name="searchTVShowForm" class="form-inline">
  <div class="form-group">
    <input type="text" ng-model="title" ng-required="true" class="form-control" placeholder="Search for ..." />
  </div>
  <div class="form-group">
    <input type="number" size="4" ng-model="year" class="form-control" placeholder="Year ..." />
  </div>
  <div class="form-group">
    <label class="control-label">Language</label>
    <select ng-model="language" class="form-control" ng-options="item.key as item.value for item in languages">
      <option value="" />
    </select>
  </div>
  <button ng-disabled="!searchTVShowForm.$valid" class="btn btn-primary" ng-click="searchTVShow()"><span class="glyphicon glyphicon-search"/> Search</button>
</form>

<div class="panel panel-default" ng-repeat="tvshow in results" ng-show="!selectedTVShow || selectedTVShow.id === tvshow.id">
  <div class="panel-heading">
    <h4 class="text-center">{{tvshow.seriesName}}</h4>
  </div>
  <div class="panel-body">
    <div ng-show="{{tvshow.banner != null}}" style="width: 100%; text-align: center">
      <img ng-src="{{tvshow.banner}}" alt="{{tvshow.seriesName}}" title="{{tvshow.seriesName}}" />
    </div>
    <p ng-show="{{tvshow.firstAired != undefined}}">First aired on <strong>{{tvshow.firstAired}}</strong></p>
    <p>{{tvshow.overview}}</p>
  </div>
  <div class="panel-footer">
      <button class="btn btn-success btn-block" ng-show="!selectedTVShow" ng-click="selectTVShow(tvshow)"><span class="glyphicon glyphicon-download"/> Add {{tvshow.seriesName}} to my collection</button>
      <form class="form-inline" ng-show="selectedTVShow && selectedTVShow.id === tvshow.id">
        <div class="form-group">
          <label class="control-label">Audio Language</label>
          <select ng-model="audioLanguage" class="form-control" ng-options="item.key as item.value for item in languages">
            <option value="" />
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">SubTitles Language</label>
          <select ng-model="subtitlesLanguage" class="form-control" ng-options="item.key as item.value for item in languages">
            <option value="" />
          </select>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary" ng-click="addTVShow(tvshow.id)"><span class="glyphicon glyphicon-ok"/> Confirm</button>
          <button class="btn btn-default" ng-click="cancelSelection()"><span class="glyphicon glyphicon-ok"/> Cancel</button>
        </div>
    </form>
  </div>
</div>