<div class="form-inline">
  <div class="form-group">
    <input type="text" ng-model="filter" class="form-control" placeholder="Search for ..." ng-change="filterChanged()"/>
  </div>
  <div class="form-group" ng-show="unrecognizeds && unrecognizeds.length > 0">
    <p class="control-static">
      <a href="#/tvshows-unrecognized">There are {{unrecognizeds.length}} unrecognized folders</a>
    </p>
  </div>
</div>

<div class="row" ng-show="filteredList.length >itemsPerPage">
  <p class="text-center">
    <uib-pagination total-items="filteredList.length" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
  </p>
</div>

<div class="thumbnail downloadable-thumbnail col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-repeat="downloadable in pageContents">
  <a ng-href="#/tvshow-detail/{{downloadable.id}}">
    <img ng-src="{{imageURL('/data/posters/' + downloadable.id + '.jpg')}}" alt="{{downloadable.name}}" style="max-height: 280px; min-height: 280px;" />
  </a>
  <div class="caption">
    <button type="button" ng-show="!downloadable.ended && !downloadable.autoDownload" ng-click="toggleAutoDownload( downloadable )" class="btn btn-primary btn-xs">
      <span class="glyphicon glyphicon-star-empty" />
    </button>
    <button type="button" ng-show="!downloadable.ended && downloadable.autoDownload" ng-click="toggleAutoDownload( downloadable )" class="btn btn-primary btn-xs">
      <span class="glyphicon glyphicon-star" />
    </button>
    {{downloadable.name}}
  </div>
</div>

<div class="row col-md-12" ng-show="filteredList.length > itemsPerPage">
	<p class="text-center">
		<uib-pagination total-items="filteredList.length" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
	</p>
</div>

<ng-include src="'common/templates.html'" />
