<div class="panel panel-default">

    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" alt="{{tvshow.name}}" ng-src="{{imageURL('/data/posters/' + tvshow.id + '.jpg')}}" />
                <h3>{{tvshow.name}}
                    <a target="_blank" ng-show="tvshow.imdbId" href="http://www.imdb.com/title/{{tvshow.imdbId}}">
                        <img src="../imdb.png" />
                    </a>
                </h3>
            </div>
            <div class="col-md-9">
                <form>
                    <div class="form-group form-inline">
                        <label class="control-label">Folder :</label >
                        <p class="form-control-static" style="font-family: 'Lucida Console'">
                            {{tvshow.folder}}
                        </p>
                    </div>
                    <div class="form-group" ng-show="{{tvshow.ended}}">
                        <h3 style="font-weight: bold">
                            This show is ended
                        </h3>
                    </div>
                    <div class="checkbox" ng-show="{{!tvshow.ended}}">
                        <label>
                            <input type="checkbox" ng-model="tvshow.autoDownload" ng-change="saveTVShow()"> Automatically download new episodes
                        </label>
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label">Metadata Language</label>
                        <select ng-model="tvshow.metaDataLanguage" ng-change="saveTVShow()" class="form-control" ng-options="item.key as item.value for item in languages | orderBy: 'value'"/>
                        <label class="control-label">Audio Language</label>
                        <select ng-model="tvshow.audioLanguage" ng-change="saveTVShow()" class="form-control" ng-options="item.key as item.value for item in languages | orderBy: 'value'">
                        </select>
                        <label class="control-label">Subtitles Language</label>
                        <select ng-model="tvshow.subtitlesLanguage" ng-change="saveTVShow()" class="form-control" ng-options="item.key as item.value for item in languages | orderBy: 'value'">
                            <option value="">None</option>
                        </select>
                    </div>                        
                    <div class="form-group">
                        <label class="control-label">Alternate names : </label>
                        <tags-input ng-model="alternateNames" replace-spaces-with-dashes="false" placeholder="Add an additional name" on-tag-added="saveTVShow()" on-tag-removed="saveTVShow()" />
                    </div>
                </form>
                <div class="button-list">
                    <button class="btn btn-default" ng-click="wrongShow()"><span class="glyphicon glyphicon-exclamation-sign" /> Wrong Show</button>
                    <button class="btn btn-default" ng-click="rescan()"><span class="glyphicon glyphicon-refresh" /> Rescan Files</button>
                    <button class="btn btn-danger" sweetalert sweet-options='{"title":"Confirm Delete","text":"Are you sure you want to delete {{tvshow.name}} ?","type":"warning","showCancelButton":true,"confirmButtonColor":"#DD6B55","confirmButtonText":"Yes, delete it!","cancelButtonText":"No, cancel!","closeOnConfirm":true,"closeOnCancel":true}'' sweet-on-confirm="deleteTVShow()"><span class="glyphicon glyphicon-trash" /> Delete {{tvshow.name}}</button>
                </div>
            </div>
        </div>

        <div ng-show="{{unrecognizedFiles && unrecognizedFiles.length > 0}}">
            <table class="table">
                <tr class="danger" ng-repeat="file in unrecognizedFiles | orderBy: 'path'">
                    <td>
                        <div class="btn-group" role="group">
                        <button class="btn btn-danger" sweetalert sweet-options='{"title":"Confirm Delete","text":"Are you sure you want to delete {{file.path | limitTo:255:tvshow.folder.length+1}} ?","type":"warning","showCancelButton":true,"confirmButtonColor":"#DD6B55","confirmButtonText":"Yes, delete it!","cancelButtonText":"No,  cancel!","closeOnConfirm":true,"closeOnCancel":true}'' sweet-on-confirm="deleteFile(file)">
                            <span class="glyphicon glyphicon-trash" />
                        </button>
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-download" />
                        </button>
                        </div>                        
                    </td>
                    <td>
                        <span style="font-family: 'Lucida Console'">{{file.path | limitTo:255:tvshow.folder.length+1}}</span>
                        <select ng-change="assignEpisode(file)" class="form-control" ng-model="selectedEpisode[file.id]" ng-options="episode.episodeNumber + ' - ' + episode.name group by episode.seasonNumber for episode in availableEpisodes"/>
                    </td>
                </tr>
            </table>
        </div>

        <div ng-repeat="(seasonNumber, seasonEpisodes) in episodes | groupBy: 'seasonNumber'">
            <a name="season{{seasonNumber}}" />
            <h3>Season {{seasonNumber}}
                <button ng-show="wantSeasonEnabled(seasonNumber)" title="Want complete season" class="btn btn-sm btn-default" ng-click="wantSeason(seasonNumber)"><span class="glyphicon glyphicon-heart" /></button>
                <button ng-show="deleteSeasonEnabled(seasonNumber)" title="Delete complete season" class="btn btn-sm btn-danger" ng-click="deleteSeason(seasonNumber)"><span class="glyphicon glyphicon-trash" /></button>
            </h3>
            <table class="table table-condensed table-striped">
                <tr ng-repeat="episode in seasonEpisodes" ng-class="{success: episode.status=='DOWNLOADED', danger:episode.status=='WANTED', info:episode.status=='SNATCHED', warning:episode.status=='FUTURE'}">
                    <td>{{episode.episodeNumber}}</td>
                    <td>
                        <div ng-show="episode.status != 'FUTURE'" class="btn-group" role="group">
                            <button title="Want episode" ng-show="episode.status != 'DOWNLOADED' && episode.status != 'SNATCHED' && episode.status != 'WANTED'" class="btn btn-sm btn-default" ng-click="want(episode)"><span class="glyphicon glyphicon-heart" /></button>
                            <button title="File List" ng-show="episode.status == 'DOWNLOADED'" class="btn btn-sm btn-default" ng-click="openFileList(episode)"><span class="glyphicon glyphicon-list" /></button>
                            <button title="Search Results" ng-show="episode.status != 'FUTURE'" class="btn btn-sm btn-default" ng-click="openSearchResults(episode)"><span class="glyphicon glyphicon-search" /></button>
                            <button title="Redownload" ng-show="episode.status == 'DOWNLOADED' || episode.status == 'SNATCHED'" class="btn btn-sm btn-warning" sweetalert sweet-options='{"title":"Confirm Redownload","text":"Are you sure you want to redownload {{episode.name}} ?","type":"warning","showCancelButton":true,"confirmButtonColor":"#DD6B55","confirmButtonText":"Yes, redownload!","cancelButtonText":"No, cancel!","closeOnConfirm":true,"closeOnCancel":true}'' sweet-on-confirm="redownload(episode)"><span class="glyphicon glyphicon-refresh" /></button>
                            <button title="Delete" ng-show="episode.status == 'DOWNLOADED' || episode.status == 'WANTED' || episode.status == 'SNATCHED'" class="btn btn-sm btn-danger" sweetalert sweet-options='{"title":"Confirm Delete","text":"Are you sure you want to delete {{episode.name}} ?","type":"warning","showCancelButton":true,"confirmButtonColor":"#DD6B55","confirmButtonText":"Yes, delete it!","cancelButtonText":"No, cancel!","closeOnConfirm":true,"closeOnCancel":true}'' sweet-on-confirm="delete(episode)"><span class="glyphicon glyphicon-trash" /></button>
                        </div>
                    </td>
                    <td>{{episode.name}}</td>
                    <td><span style="font-family: 'Lucida Console'">{{episode.label}}</span></td>
                    <td>{{episode.firstAired|date}}</td>
                    <td>
                        <span class="glyphicon glyphicon-sd-video" ng-show="episode.quality == 'SD'" />
                        <span class="glyphicon glyphicon-hd-video" ng-show="episode.quality == '_720p' || episode.quality == '_1080p'" />
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="panel-footer">
    </div>
</div>

<ng-include src="'common/templates.html'" />