<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{tvshow.name}}</h4>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive" alt="{{tvshow.name}}" src="http://localhost:8081/data/posters/{{tvshow.id}}.jpg" />
            </div>
            <div class="col-md-8">
                <form>
                    <div class="form-group">
                        <label class="control-label">Folder</label >
                        <p class="form-control-static" style="font-family: 'Lucida Console'">
                            {{tvshow.folder}}
                        </p>
                    </div>
                    <div class="form-group" ng-show="{{tvshow.ended}}">
                        <h3 style="font-weight: bold">
                            This show is ended
                        </h3>
                    </div>
                    <div class="checkbox" ng-show="{{!tvshow.ended}}">
                        <label>
                            <input type="checkbox" ng-model="tvshow.autoDownload"> Automatically download new episodes
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Quality Profile</label>
                        <select class="form-control" />
                    </div>                        
                    <div class="form-group">
                        <label class="control-label">Audio Language</label>
                        <select ng-model="tvshow.audioLanguage" class="form-control" ng-options="item.key as item.value for item in languages | orderBy: 'value'"/>
                    </div>                        
                    <div class="form-group">
                        <label class="control-label">Subtitles Language</label>
                        <select ng-model="tvshow.subtitlesLanguage" class="form-control" ng-options="item.key as item.value for item in languages | orderBy: 'value'"/>
                    </div>                        
                    <div class="form-group">
                    </div>                        
                    <div class="form-group">
                    </div>                        
                </form>
                <button class="btn btn-block btn-default"><span class="glyphicon glyphicon-exclamation-sign" /> Wrong Show</button>
                <button class="btn btn-block btn-default" ng-click="rescan(tvshow)"><span class="glyphicon glyphicon-refresh" /> Rescan Files</button>
                <button class="btn btn-block btn-danger" sweetalert sweet-options='{"title":"Confirm Delete","text":"Are you sure you want to delete {{tvshow.name}} ?","type":"warning","showCancelButton":true,"confirmButtonColor":"#DD6B55","confirmButtonText":"Yes, delete it!","cancelButtonText":"No, cancel!","closeOnConfirm":true,"closeOnCancel":true}'' sweet-on-confirm="deleteTVShow(tvshow)"><span class="glyphicon glyphicon-trash" /> Delete {{tvshow.name}}</button>
            </div>
        </div>

        <div ng-show="{{unrecognizedFiles && unrecognizedFiles.length > 0}}">
            <table class="table">
                <tr class="danger" ng-repeat="file in unrecognizedFiles | orderBy: 'path'">
                    <td>
                        <span style="font-family: 'Lucida Console'">{{file.path}}</span>
                    </td>
                </tr>
            </table>
        </div>

        <div ng-repeat="(seasonNumber, seasonEpisodes) in episodes | groupBy: 'seasonNumber'">
            <h3>Season {{seasonNumber}}</h3>
            <table class="table table-condensed table-striped">
                <tr ng-repeat="episode in seasonEpisodes | orderBy:'episodeNumber'" ng-class="{success: episode.status=='DOWNLOADED', danger:episode.status=='WANTED', info:episode.status=='FUTURE'}">
                    <td>{{episode.episodeNumber}}</td>
                    <td>
                        <div ng-show="episode.status != 'FUTURE'">
                            <button ng-show="episode.status != 'DOWNLOADED' && episode.status != 'WANTED'" class="btn btn-sm btn-default" ng-click="want(episode)"><span class="glyphicon glyphicon-heart" /></button>
                            <button title="Redownload" ng-show="episode.status == 'DOWNLOADED' || episode.status == 'SNATCHED'" class="btn btn-sm btn-default" ng-click="redownload(episode)"><span class="glyphicon glyphicon-refresh" /></button>
                            <button title="File List" ng-show="episode.status == 'DOWNLOADED'" class="btn btn-sm btn-default" ng-click="openFileList(episode)"><span class="glyphicon glyphicon-list" /></button>
                        </div>
                    </td>
                    <td>{{episode.name}}</td>
                    <td>{{episode.firstAired|date}}</td>
                    <td>
                        <span class="glyphicon glyphicon-sd-video" ng-show="episode.quality == 'SD'" />
                        <span class="glyphicon glyphicon-hd-video" ng-show="episode.quality == '_720p' || episode.quality == '_1080p'" />
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="panel-footer">
    </div>
</div>

<ng-include src="'common/templates.html'" />