<div class="form-inline">
  <div class="form-group">
    <input type="text" ng-model="filter" class="form-control" placeholder="Search for ..." ng-change="filterChanged()"/>
  </div>
  <div class="form-group">
    <input type="text" ng-model="filterLanguage" class="form-control" placeholder="Search for ..." ng-change="filterChanged()"/>
  </div>
</div>

<div class="row" ng-show="filteredList.length > 24">
  <p class="text-center">
    <uib-pagination total-items="filteredList.length" items-per-page="24" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
  </p>
</div>

<div class="thumbnail downloadable-thumbnail col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-repeat="downloadable in pageContents">
  <img src="{{imageURL(downloadable.image)}}" alt="{{downloadable.artistName}} - {{downloadable.name}}" ng-if="downloadable.image" style="min-height: 280px;" />
  <img src="common/music-album.jpg" alt="{{downloadable.artistName}} - {{downloadable.name}}" ng-if="!downloadable.image" style="max-height: 280px;" />
  <div class="buttons">
    <button type="button" ng-show="downloadable.status == 'DOWNLOADED'" ng-click="openFileList(downloadable)" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Show Files</button>
    <button type="button" confirmed-click="delete(downloadable)" ng-confirm-click="Are you sure you want to delete {{downloadable.artistName}} - {{downloadable.name}} ?" class="btn btn-danger btn-lg btn-block"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  Delete</button>
    <button type="button" ng-show="downloadable.status == 'DOWNLOADED' || downloadable.status == 'SNATCHED'" confirmed-click="redownload(downloadable)" ng-confirm-click="Are you sure you want to redownload {{downloadable.name}} ?" class="btn btn-danger btn-lg btn-block">Redownload</button>
    <button type="button" ng-show="downloadable.status == 'SUGGESTED'" ng-click="want(downloadable)" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>  Want</button>
    <button type="button" ng-click="updateImage(downloadable)" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>  Update Image</button>
  </div>
  <div class="caption">
    {{downloadable.artistName}} - {{downloadable.name}}
  </div>
</div>

<ng-include src="'common/templates.html'" />
