<div class="row">
	<div class="col-md-2">
		<div class="thumbnail downloadable-thumbnail">
			<img ng-src="{{imageURL(album.image)}}" style="max-height: 300px;" />
		</div>
	</div>
	<div class="col-md-10">
		<div class="form">
			<div class="form-group">
				<label class="control-label">Artist</label>
				<input type="text" ng-model="album.artistName" class="form-control" placeholder="Artist" />
			</div>
			<div class="form-group">
				<label class="control-label">Album Name</label>
				<input type="text" ng-model="album.name" class="form-control" placeholder="Album Name" />
			</div>

			<div class="form-group" ng-if="album.tadbAlbumId">
				<a class="btn btn-default" target="_blank" ng-href="http://www.theaudiodb.com/album/{{album.tadbAlbumId}}">
					<img src="theaudiodb.png" style="width: 100px;" />
				</a>
			</div>

			<div class="form-group">
				<label class="control-label">Folder</label>
				<p class="form-control-static">
					<span style="font-family: 'Courier New'">{{album.folder}}</span>
				</p>
			</div>
      <div class="buttons">
        <button class="btn btn-success" ng-click="saveData()"><span class="glyphicon glyphicon-save" /> Save Album data</button>
        <button class="btn btn-default" ng-click="fixFolder()" ng-if="filesMisplaced"><span class="glyphicon glyphicon-refresh" /> Move all files to the album folder</button>
        <button class="btn btn-danger" ng-click="fixFolder()"><span class="glyphicon glyphicon-trash" /> Delete album and all associated files</button>

				<a title="Redownload" ng-show="album.status == 'DOWNLOADED' || album.status == 'SNATCHED'"
					class="btn btn-danger" sweetalert sweet-options='{"title":"Confirm Redownload","text":"Are you sure you want to redownload {{album.name}} ?","type":"warning","showCancelButton":true,"confirmButtonColor":"#DD6B55","confirmButtonText":"Yes","cancelButtonText":"No, cancel!","closeOnConfirm":true,"closeOnCancel":true}'' sweet-on-confirm="redownload()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Redownload Album</a>

				<button class="btn btn-primary" ng-click="updateImage()"><span class="glyphicon glyphicon-picture" aria-hidden="true"/> Download new cover art</button>
      </div>
      
		</div>
	</div>
</div>


<table class="table">
  <thead>
    <th>
      <button class="btn btn-sm btn-default" ng-click="selectAll()"><span class="glyphicon glyphicon-ok" /></button>
    </th>
    <th>
			Track #
    </th>
		<th></th>
    <th>
      File name
    </th>
    <th>
      File size
    </th>
	</thead>
	<tr ng-repeat="file in files | orderBy: index" ng-class="{success:!file.wrongFolder, danger:file.wrongFolder}">
		<td>
			<input type="checkbox" ng-model="file.selected" />
		</td>
		<td>
			{{file.index}}
		</td>
		<td>
			<audio controls preload="none">
				<source ng-src="{{downloadURL(file.filePath)}}" />
			</audio>
		</td>
		<td>
			<span style="font-family: 'Courier New'">{{file.fileName}}</span>
		</td>
		<td>
			{{file.size | number}}
		</td>
	</tr>
</table>