<div class="form-inline">
  <div class="form-group">
    <input type="text" ng-model="filter" class="form-control" placeholder="Search for ..." ng-change="filterChanged()"/>
  </div>
  <div class="form-group">
    <input type="text" ng-model="filterLanguage" class="form-control" placeholder="Search for ..." ng-change="filterChanged()"/>
  </div>
</div>

<div class="row" ng-show="filteredList.length > itemsPerPage">
  <p class="text-center">
    <uib-pagination total-items="filteredList.length" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
  </p>
</div>

<div class="thumbnail downloadable-thumbnail col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-repeat="downloadable in pageContents">
  <a ng-href="#/music-album/{{downloadable.id}}">
    <img ng-src="{{imageURL(downloadable.image)}}" alt="{{downloadable.artistName}} - {{downloadable.name}}" style="min-height: 280px;" />
  </a>
  <div class="buttons">
    <button title="Show files" type="button" ng-show="downloadable.status == 'DOWNLOADED'" ng-click="openFileList(downloadable)" class="btn btn-default"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>

    <a title="Delete" ng-show="downloadable.status == 'DOWNLOADED'" class="btn btn-danger" sweetalert sweet-options='{"title":"Confirm Delete","text":"Are you sure you want to delete {{downloadable.name}} ?","type":"warning","showCancelButton":true,"confirmButtonColor":"#DD6B55","confirmButtonText":"Yes","cancelButtonText":"No, cancel!","closeOnConfirm":true,"closeOnCancel":true}'' sweet-on-confirm="delete(downloadable)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>

    <a title="Redownload" ng-show="downloadable.status == 'DOWNLOADED' || downloadable.status == 'SNATCHED'" class="btn btn-danger" sweetalert sweet-options='{"title":"Confirm Redownload","text":"Are you sure you want to redownload {{downloadable.name}} ?","type":"warning","showCancelButton":true,"confirmButtonColor":"#DD6B55","confirmButtonText":"Yes","cancelButtonText":"No, cancel!","closeOnConfirm":true,"closeOnCancel":true}'' sweet-on-confirm="redownload(downloadable)"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>

    <button type="button" ng-show="downloadable.status == 'SUGGESTED'" ng-click="want(downloadable)" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
  </div>
  <div class="caption">
    {{downloadable.artistName}} - {{downloadable.name}}
  </div>
</div>

<div class="row col-md-12" ng-show="filteredList.length > itemsPerPage">
  <p class="text-center">
    <uib-pagination total-items="filteredList.length" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
  </p>
</div>

<ng-include src="'common/templates.html'" />
