<form class="form-inline">
    <input type="text" class="form-control" ng-model="filter" ng-change="filterChanged()" />
</form>
<table class="table table-condensed" ng-repeat="(type, wanteds) in wanted | groupBy:'type'">
    <tr ng-repeat="downloadable in wanteds">
        <td><img src="{{imageURL(downloadable.image)}}" alt="{{downloadable.artistName}} - {{downloadable.name}}" ng-if="downloadable.image" style="height: 280px;" /></td>
        <td>{{downloadable.name}}</td>
        <td>{{downloadable.year}}</td>
    </tr>
</table>