<div class="panel panel-default" ng-if="item.list">

    <div class="panel-heading">
      {{item.key | translate}}
    </div>

    <div class="panel-body" ng-if="item.values && item.values.length > 0">

      <div ng-if="item.values.length == 1">
        <div class="row" ng-repeat="row in item.values">
          <div class="col-md-11">
            <div class="input-group" ng-if="item.type=='java.nio.file.Path'">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-folder-open" />
              </span>
              <input ng-required="true" ng-change="changeValue()" valid-folder class="form-control" type="text" ng-model="row.value" />
            </div>
            <input ng-if="item.type=='java.lang.String'" ng-required="true" ng-change="changeValue()" class="form-control" type="text" ng-model="row.value" />
            <p ng-if="item.allowedValues" class="form-control-static">{{item.allowedValues[row.value]}}</p>
          </div>
          <div class="col-md-1">
            <button class="btn btn-sm btn-danger" ng-click="removeRow($index)"><span class="glyphicon glyphicon-trash" /></button>
          </div>  
        </div>
      </div>

      <ul dnd-list="item.values" dnd-allowed-types="[item.key]" ng-if="item.values.length > 1">
        <li ng-repeat="row in item.values"
            dnd-draggable="row"
            dnd-moved="removeRow($index)"
            dnd-type="item.key"
            dnd-effect-allowed="move">
            <div dnd-handle>
              <div class="row">
                <div class="col-md-11">
                  <div class="input-group" ng-if="item.type=='java.nio.file.Path'">
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-folder-open" />
                    </span>
                    <input ng-required="true" ng-change="changeValue()" valid-folder class="form-control" type="text" ng-model="row.value" />
                  </div>
                  <input ng-if="item.type=='java.lang.String'" ng-required="true" ng-change="changeValue()" class="form-control" type="text" ng-model="row.value" />
                  <p ng-if="item.allowedValues" class="form-control-static">{{item.allowedValues[row.value]}}</p>
                </div>
                <div class="col-md-1">
                  <button class="btn btn-sm btn-danger" ng-click="removeRow($index)"><span class="glyphicon glyphicon-trash" /></button>
                </div
              </div>
            </div>
        </li>

        <li class="dndPlaceholder">
        </li>
    </ul>
   </div>
    <div class="panel-footer" ng-if="hasRemainingValues()">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" ng-click="addRow()"><span class="glyphicon glyphicon-plus" /> Add</button>
        </span>
        <select ng-if="item.remainingValues" class="form-control" ng-model="item.newValue" ng-options="key as label for (key, label) in item.remainingValues" />
      </div>
    </div>
</div>

<div ng-if="!item.list && item.allowedValues">
  <div class="form-group">
    <label>{{item.key | translate}}</label>
    <select ng-required="true" class="form-control" ng-model="item.value" ng-options="key as label for (key, label) in item.allowedValues" />
  </div>
</div>

<div ng-if="!item.list && item.type == 'java.nio.file.Path'">
  <div class="form-group">
    <label>{{item.key | translate}}</label>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-folder-open" /></span>
      <input type="text" ng-if="item.folder" ng-required="item.required" valid-folder class="form-control" ng-model="item.value" />
      <input type="text" ng-if="!item.folder" ng-required="item.required" class="form-control" ng-model="item.value" />
    </div>
  </div>
</div>

<div ng-if="!item.list && item.type == 'java.lang.String'">
  <div class="form-group">
    <label>{{item.key | translate}}</label>
    <input type="text" ng-required="item.required" class="form-control" ng-model="item.value" />
  </div>
</div>

<div ng-if="item.type == 'int' || item.type == 'float'">
  <div class="form-group">
    <label>{{item.key | translate}}</label>
    <input type="number" ng-required="item.required" class="form-control" ng-model="item.value" />
  </div>
</div>

<div ng-if="item.type == 'boolean'">
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="item.value"> {{item.key | translate}}
    </label>
  </div>
</div>