<div class="panel">

    <div class="panel-heading">
        <h3>Files of "{{downloadable.name}}"</h3>
    </div>
    <div class="panel-body" ng-if="videoPlaying">
      <video autoplay="autoplay" controls="controls">
        <source ng-src="{{downloadURL(videoFile.filePath)}}" />
      </video>
    </div>
    <div class="panel-body" ng-if="!videoPlaying">

      <div class="form-group">
        <label class="col-sm-2 control-label">Folder</label>
        <div class="col-sm-10">
          <span style="font-family: 'Lucida Console'">
            <p class="form-control-static">{{ folder }}</p>
          </span>
        </div>
      </div>

      <table class="table table-striped">
        <tr ng-repeat="item in files">
          <td>
            <div class="btn-group btn-group-sm" style="min-width: 100px;" role="group">
              <button class="btn btn-danger" sweetalert sweet-options='{"title":"Confirm Delete","text":"Are you sure you want to delete {{item.filePath}} ?","type":"warning","showCancelButton":true,"confirmButtonColor":"#DD6B55","confirmButtonText":"Yes, delete it!","cancelButtonText":"No,  cancel!","closeOnConfirm":true,"closeOnCancel":true}' sweet-on-confirm="delete(item)">
                <span class="glyphicon glyphicon-trash" />
              </button>
              <a class="btn btn-default" ng-href="{{downloadURL(item.filePath)}}" target="_blank">
                <span class="glyphicon glyphicon-download" />
              </a>
              <a ng-click="playVideo(item)" class="btn btn-default" ng-if="item.filePath.endsWith('.mkv') || item.filePath.endsWith('.mp4') || item.filePath.endsWith('.avi')">
                <span class="glyphicon glyphicon-play" />
              </a>
            </div>
          </td>
          <td>
            <span style="font-family: 'Lucida Console'">
              {{ item.fileName }}
              <a ng-click="renameFile(item)" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-edit" />
              </a>
            </span>
          </td>
          <td>
            {{ item.size | number }}
          </td>
        </tr>
      </table>

      <button ng-click="renameFiles()" ng-show="downloadable.type == 'Movie'" class="btn btn-primary btn-block">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Rename movie files
      </button>

    </div>
</script>