
<script type="text/ng-template" id="tvShowSearch.html">
    <div class="modal-header">
        <h3 class="modal-title">Search TV Show</h3>
    </div>
    <div class="modal-body">
      <form novalidate>
        <div class="form-group">
          <label for="inputName">Name</label>
          <input type="text" id="inputName" ng-model="name" ng-required="true" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="inputYear">Year</label>
          <input type="number" id="inputYear" ng-model="year" ng-required="false" class="form-control" placeholder="Year">
        </div>
        <div class="form-group">
          <label class="control-label">Search Language</label>
          <select ng-model="searchLanguage" class="form-control" ng-options="item.key as item.value for item in languages">
            <option value="" />
          </select>
        </div>
        <button class="btn btn-primary btn-block" ng-click="searchTVShow()"><span class="glyphicon glyphicon-search" /> Search</button>
      </form>
      <div class="panel panel-default" ng-repeat="tvshow in results | orderBy:'-firstAired'">
        <div class="panel-body">
          <div ng-show="{{tvshow.banner != null}}" style="width: 100%; text-align: center">
            <img ng-src="{{tvshow.banner}}" alt="{{tvshow.seriesName}}" title="{{tvshow.seriesName}}" />
          </div>
          <p ng-show="{{tvshow.firstAired != undefined}}">First aired on <strong>{{tvshow.firstAired}}</strong></p>
          <p>{{tvshow.overview}}</p>    
        </div>
        <div class="panel-footer">
            <button class="btn btn-success btn-block" ng-click="selectTVShow(tvshow)"><span class="glyphicon glyphicon-download"/> Select <strong>"{{tvshow.seriesName}}"</strong></button>
        </div>    
      </div>      
    </div>    
</script>